{%extends "privateLayout.njk" %}

{%block content %}
        <div class="description">
            <h3>Gerenciar Chefs</h3>
        </div>
            <section class="index-cards">
                {%for chef in chefs%}
                <div class="chefCard">
                    <img src="{{chef.avatar}}" alt="foto de {{chef.name}}" id="chefImg">
                    <div class="detailsChef">
                        <h4>{{chef.name}}</h4>
                        <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
                    </div>
                </div> 
               {%endfor%}  
                
            </section>
        
{%endblock%}

