{%extends "privateLayout.njk" %}

{%block content%}
<form class="form" method="POST" action="/admin/chefs" enctype="multipart/form-data">
<section class="create"> 
<div class='top'>
    <h1 class="createTitle">Criando Chef</h1>
    <button type="submit" class="save">Salvar Chef</button>
</div> 

    <h3>Nome</h3>
    <div>
        <input 
            type="text"
            name = "name"
            value = "{{chefs.name}}"
        >
    </div>

    <h3>Avatar</h3>

    <div class='input-wrapper'>
        
        <span id='file-name' ></span>
        
        <label class="send-avatar" for='input-file'>
            Enviar Avatar
        </label>
        <input id='input-file' type='file' name="photos" accept="image/*" onchange="PhotosUpload.handleFileInput(event)"/>
        
    </div>
</section>
{%endblock%}