{%extends "privateLayout.njk" %}

{%block content%}

<section class="create"> 
    <div class='top2'>
        <h1  class="createTitle">Editando Chef</h1>
        <form  id="form-delete" method="POST" action="/admin/chefs?_method=DELETE" >
            <script>
               
            </script>
            <button  onclick="alertclick()" type="submit" class="delet">Deletar</button>
            
            <input type="hidden" name="id" value="{{chef.id}}">
            <input id ="total" type="hidden" name="total_recipes" value="{{chef.total_recipes}}">
        </form>

               
        <form class="form" method="POST" action="/admin/chefs?_method=PUT" >
            <button type="submit" class="save">Salvar Chef</button>
        
    </div>
    <h3>Nome</h3>
    <div>
        <input 
            type="text"
            name = "name"
            value = "{{chef.name}}"
        >
    </div>

     <h3>Avatar</h3>

    <div class='input-wrapper'>
        
        <span id='file-name' ></span>
        
        <label class="send-avatar" for='input-file'>
            Enviar Avatar
        </label>
        <input id='input-file' type='file' name="photos" accept="image/*" onchange="PhotosUpload.handleFileInput(event)"/>
        
    </div>
</section>
{%endblock%}