{%extends "privateLayout.njk" %}

{%block content%}

<section class="create"> 
<form id="form-save" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
    <input id ="total" type="hidden" name="total_recipes" value="{{chef.total_recipes}}">
    <div class='top2'>
        <h1  class="createTitle">Editando Chef</h1>
        {% if chef.total_recipes == 0 %}
            <button  form="form-delete"type="submit" class="delet">Deletar</button>
        {% endif %}
        {% if chef.total_recipes > 0 %}
            <button  type="reset" onclick="alertclick()"  class="delet">Deletar</button>
        {% endif %}
        <button form="form-save" type="submit" class="save">Salvar Chef</button>    
    </div>
    <h3>Nome</h3>
    <div>
        <input 
            type="text"
            name = "name"
            value = "{{chef.name}}"
        >
    </div>

    <h3>Avatar</h3>
    <input type="hidden" name="old_file" value="{{Files[0].id}}">
    <input type="text" value= "{{Files[0].path}}">
    <div class='input-wrapper'>
        
        <span id='file-name' ></span>
        
        <label class="send-avatar" for='input-file'>
            Trocar Avatar
        </label>
        <input id='input-file'  type='file' name="photos" accept="image/*" onchange="PhotosUpload.handleFileInput(event)"/>
        
    </div>
<input type="hidden" name="id" value="{{chef.id}}">
</form>
<form  id="form-delete" method="POST" action="/admin/chefs?_method=DELETE" >
    <input type="hidden" name="file_id" value={{chef.file_id}}>
    <input type="hidden" name="id" value="{{chef.id}}">
</form>
</section>
<script src="/delet.js"></script>
{%endblock%}