<h3>Imagem da Receita</h3>
        <div class = "item">

            <div class="photos-upload">
                <i class="material-icons" >add</i>
                <input id="photos-input" 
                    type="file" 
                    name="photos" 
                    multiple
                    accept="image/*"
                    onchange="PhotosUpload.handleFileInput(event)"
                >   
            </div>

            <div id="photos-preview">
                {% if files %}  
                    {%for image in files%}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons"
                                onclick="PhotosUpload.removeOldPhoto(event)"
                            > close</i> 
                        </div>  
                    {%endfor%}
                    <input type="hidden" name="removed_files">    
                {% endif %}
            </div>
        </div>

    <h3>Nome da Receita</h3>
    <div>
        <input 
            type="text"
            name = "title"
            value = "{{recipe.title}}"
        >
    </div>

    <h3>Chef</h3>
    <div>
        <select name="chef_id" placeholder="Selecione um Chef"> 
            <option value=""  disabled selected>Selecione um chef</option>
            {%for chef in chefOptions%}
                <option value="{{chef.id}}"{%if recipe.chef_id == chef.id %}selected{%endif%}>
                    {{chef.name}}
                </option>
            {%endfor%}
        </select>
    </div>

    <h3>Igredientes</h3>
        <div id="ingredients">
            {%if recipe.ingredients%}
                {%for item in recipe.ingredients%}
                    <div class="ingredient">
                        <input 
                            type="text"
                            name = "ingredients"
                            value="{{item}}"                  
                    </div>
                {%endfor%}    
            {%else%}
                <div class="ingredient">
                        <input 
                            type="text"
                            name = "ingredients"
                            value="{{item}}" 
                        >
                    </div>
            {%endif%}
        </div>
        <div type="button"  class="add-ingredient">Adicionar novo ingrediente</div>

    <h3>Modo de preparo</h3>
    <div id="preparations">
        {%if recipe.preparation%}
            {%for item2 in recipe.preparation%}
                <div class="preparation">
                    <input 
                        type="text"
                        name ="preparation"
                        value="{{item2}}" 
                    >
                </div>
            {%endfor%}    
        {%else%}
            <div class="preparation">
                    <input 
                        type="text"
                        name = "preparation"
                        value="{{item2}}"
                    >
                </div>
        {%endif%}
    </div>
    <div type="button" class="add-pass" >Adicionar novo passo</div>
    
    <h3>Informações Adicionais</h3>
        <textarea 
            type="text"
            name = "information"
            id="ingredients"
        >{{recipe.information}}
        </textarea>

</section> 
   
<input type="hidden" name="id" value="{{recipe.id}}">