@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Roboto', sans-serif;    
}
.all{
    padding: 0 230px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}
/*////// MENU /////*/
.links{
        margin: 28px 231px;
        width: 940px;
        display: grid;
        grid-template-columns: 0fr 2fr 2fr;
        align-items: center;    
        text-align: center; 
}

.links #logo{
    width: 90.6px;
    height: 26.9px;
    
}
.links a{
    text-decoration: none;
    font-size: 16px;
    color: #111111;
}
.links a:nth-child(2){
    margin: 0 30px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#filterField{
    width: 246px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0;
}
.buscar{
    width: 91px;
    height: 37px;
    background: #6558C3;
    border-radius: 4px;
}
/*//// BANNER ////*/
.bannerCard{
    height:366px;
    width: 940px;
    border-radius: 30px;
    background-color: #FBDFDB;
    position: relative;
    margin-bottom: 50px;
}
.bannerCard img{
    left: 624px;  
    top: 66px;  
    position: absolute;
}
.bannerCard  h1{
    size: 32px;
   padding-top: 117px;
   padding-left: 60px;
   padding-bottom: 10px;
   
}
.bannerCard  p{
    size: 16px;
    padding-left: 60px;
    padding-right: 564px;
    padding-bottom: 117px;
    color: #000000;
    opacity: 70%;
    width: 316px;
    height: 84px;
    line-height: 28px;    
}
/*/// INDEX CARDS// /*/

.indexcards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
}

#indexRecipeImg{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}
.indexcard{
    display: grid;
}
.recipeCard{
    display: flex;
}
.indexDetails{
    display: grid;
    gap: 5px;
    margin-top: 20px;
}

.indexDetails h4{
    font-size: 18px;
    color: #111111;
 }
.indexDetails p{
    font-size: 14px;
    color: #777777;
}

/*////// SOBRE /////*/
.title{
    margin-top: 20px;
}
.text{
    padding-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: bottom 30px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/*/// FOOTER ///*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
}
.copyrigth{
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 14px;
    color: #999999;
}