*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Roboto-Regular', sans-serif;    
}
.content{
    max-width: 940px;
    margin: 0 230px;
}
.backgroundCreate{
    background-color: #111111;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 231px;
}
.backgroundCreate a:hover{
    font-weight: bold;
    color:#ffffff;
}
#newLogo{
    margin-right: 50.4px;
}
.recipes{
    margin-right: 31px;
}

.recipes, .chefs{
    text-decoration: none;
    cursor: pointer;
    color: #999999;
}
.top{
    padding-top:50px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    width: 940px;
    
}
.top2{
    padding-top:50px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr; 
    width: 940px;
    align-items: center;
}

.createTitle{
    font-style: bold;
    font-size: 24px;
    color: #111111; 
}

.save{
    position: relative;
    font-size: 16px;
    width: 139px;
    height: 37px;
    color: #ffffff;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
}
.delet{
    position: relative;
    font-size: 16px;
    width: 92px;
    height: 37px;
    color: #ffffff;
    background: #DC4747;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    
}


.edit{
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 9px 20px;
    color: #ffffff;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
}
.editRecipe{
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 9px 0px;
    color: #ffffff;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
}
h3{
    font-style: bold;
    font-size: 16px;
    color: #111111;
    padding-bottom: 10px;
}

input, select{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    width: 940px;
    margin-bottom: 30px;
}

input[type=text]{
    margin-bottom: 15px;
}

.add-ingredient,.add-pass{
    font-style: bold;
    font-size: 16px;
    color: #6558C3;
    margin-bottom: 30px;
    cursor: pointer;
}

textarea[name=information]{
    width: 100%;
    height: 230px;
    margin-bottom: 609px;
    display: flex;
    text-align: start;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    resize: none;
}

option[value=""][disabled] {
    display: none;
}



/*////// Show recipe/////*/

.show{margin-bottom: 100px;}

.middle{
    position: relative;
    text-align: center;
    padding-bottom: 31px;
}
#title{
    font-size: 36px;
    padding-bottom: 4px;
}

.chefName{
    font-size: 20px;
    color: #777777;
}
.steps{
    font-size: 24px;
    color: #111111;
    padding-bottom: 19px;
}

.textArea{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-bottom: 41px;
}


 /*////// Show Chef/////*/
#recipes{
    padding: 0;
    margin-bottom: 30px;
}
.chefImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
 }

 .chefInfo{
    position: relative;
    text-align: center;
    margin-bottom: 50px;
 }
.recipesCard{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}
 .recipeCard{
     display: grid;
     grid-template-columns: 0fr 1fr;
 }
 #recipeImg{
     object-fit:cover;
     width: 172px;
     height: 80px;
     border-radius: 8.57px;
     margin-right: 20px;
 }
 .recipeCard h4{
    font-size: 18px;
    color: #111111;
 }
.recipeCard p{
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 10px;
}
.recipeCard a{
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}

.index-cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}
.chefCard{
    display: grid;
    align-items: center;
    grid-template-columns: 0fr 1fr;
}

.chefCard h4{
    font-size: 18px;
    color: #111111;
 }

 .chefCard a{
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
}

#chefImg{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.detailsChef{
    margin-left: 20px;
}

.description{
    margin-top: 50px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
}

/*/// UPLOAD DE IMAGENS ///*/
.item{
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-gap:8px;
    width: 100%;
    margin: 8px 0;
}
.photos-upload{
    position: relative;
    display: block;
    overflow: hidden;
    width: 151px;
    height: 152px;
    margin-bottom: 30.5px;
}

.photos-upload  i{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 28px;
    color: #777777;
    width: 149px;
    height: 149px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    opacity: 1;
    cursor: pointer;
}

#photos-input{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    cursor: pointer;
}

#photos-preview{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:8px;
    width: 100%;
    
}

#photos-preview img{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 3.5px;
    object-fit: cover;
}

#photos-preview .photo{
    position: relative;
    display: block;
    overflow: hidden;
    width: 151px;
    height: 152px;
}
 .photo i {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #DDDDDD;
    color: red;
    font-size: 39.6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

#photos-preview .photo i:hover {
    opacity: 0.50;
}


/*// CREATE CHEF ///*/
.input-wrapper{
    display: flex;
    flex-direction: column;
}
#file-name{
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    width: 940px;
    margin-bottom: 30px;
    align-items: center;
    display: none;
}
input[type='file'] {
    display: none
  }
  
.send-avatar{
    position: relative;
    font-size: 16px;
    width: 139px;
    height: 37px;
    color: #ffffff;
    background-color: #6558C3;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*// GALLERY RECIPE ///*/
.show .gallery{
    width: 100%;
}
.highlight > img{
    object-fit:cover;
    border-radius: 15px;
    width: 100%;
    height: 280px;
}

.gallery-preview{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.gallery-preview img{
    height: 49.7px;
    width: 50px;
    object-fit: cover;
    border-radius: 3.5px;    
    opacity: 0.6;
    cursor: pointer;
    transition: 200ms;
}

.gallery-preview img:hover,
.gallery-preview img.active{
    opacity: 1;
}

/*// GALLERY RECIPE EDIT ///*/
.gallery-put{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.gallery-put img{
    height: 49.7px;
    width: 50px;
    object-fit: cover;
    border-radius: 3.5px;    
    opacity: 0.6;
    cursor: pointer;
    transition: 200ms;
}

.gallery-put img:hover,
.gallery-put img.active{
    opacity: 1;
}