{%extends "layout.njk" %}

{%block head%}
    <title>Receitas - Foodfy</title>
{%endblock%}

{%block content %}
        <section class="recipe">
            
               <img src="{{items.image}}" alt="Imagem de {{items.title}}">
               <h1>{{items.title}}</h1> 
               <p class = "author">por {{items.author}}</p>
               
               <div class ="button-line"><h2>Igredientes</h2> <a class="button">Esconder</a></div>
               
               <div class="content">
                {%for item in items.ingredients%}

                    <li >{{item}}</li>

                {%endfor%}
               </div> 
                
                    <div class ="button-line"><h2>Modo de preparo</h2> <a class="button">Esconder</a></div> 
                    <div class="content">
                    {%for item in items.preparation%}
                            <li >{{item}}</li>
                    {%endfor%}
                </div>
                <div class ="button-line"><h2>Informações Adicionais</h2> <a class="button">Esconder</a></div>
                <div > 
                    <p class="content">{{items.information}}</p>
                </div>
                <script src="/script.js"></script>
        </section>
        
{%endblock%}