{%extends "privateLayout.njk" %}
{%block content %}
<form class="form" method="POST" action="/admin/recipes" enctype="multipart/form-data">
    <section class="create"> 
        <div class='top'>
            <h1 class="createTitle">Criando Receita</h1>
            <button type="submit" class="save">Salvar Receita</button>
        </div> 
        {%include 'admin/recipes/fields.njk'%}
    </section>
</form>
    <script src="/ingredient.js"></script>
{%endblock%}
     