{%extends "privateLayout.njk"%}

{%block content%}
<form class="form" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
    
    
    <div class='top2'>
        <h1 id="form-delete" class="createTitle">Editando Receita</h1>
        <button  type="submit" class="delet">Deletar</button>
        <button type="submit" class="save">Salvar Receita</button>
       
    </div> 

    {%include 'admin/recipes/fields.njk'%}

 <input type="hidden" name="id" value="{{recipes.id}}">
</form>
<form method="POST" action="/admin/recipes?_method=DELETE" >
    <input type="hidden" name="id" value="{{recipe.id}}">
</form>
<script src="/delet.js"></script>
{%endblock%}
        
     