{%extends "privateLayout.njk"%}

{%block content%}
<form class="form" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{recipes.id}}">   
    
    <div class='top2'>
        <h1 id="form-delete" class="createTitle">Editando Receita</h1>
        <button form="form-delete" type="submit" class="delet">Delete</button>
        <button type="submit" class="save">Salvar Receita</button>
       
    </div> 

    {%include 'admin/recipes/fields.njk'%}


</form>

<form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="{{recipe.id}}">
</form>

<script src="/delet.js"></script>
{%endblock%}
        
     