{%extends "privateLayout.njk" %}

{%block content %}
        <div class="description">
            <h3>Gerenciar Receitas</h3>
        </div>
            <div class="recipesCard">
                {%for recipe in indexRecipes%}
                   
                        <div class="recipeCard">
                            <img src="{{recipe.image}}" alt="foto de {{recipe.title}}" id="recipeImg">
                            <div class="details">
                                <h4>{{recipe.title}}</h4>
                                {%for chefs in chef%}
                                    {% if chefs.id == recipe.chef_id %}
                                        <p>por {{chefs.name}}</p> 
                                    {% endif %} 
                                {%endfor%}  
                                <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                            </div>  
                        </div> 

                {%endfor%}
            </div>
                
            </section>
        
{%endblock%}

