{%extends "privateLayout.njk" %}

{%block content %}
        <div class="description">
            <img src="/img/chef.png" alt="chef">
            <h1>Gerenciar receitas</h1>
        </div>
            <section class="index-cards">
                
               
                
            </section>
        
{%endblock%}

