{%extends "privateLayout.njk" %}

{%block head%}
    <title>Sobre - Foodfy</title>
{%endblock%}

{%block content %}
            <H1 class = "title">Sobre Foodfy</H1>
            <div class="text">
                    <p>In fermentum turpis enim, non malesuada tellus tempor euismod. Mauris quis magna vel erat porttitor feugiat non sit amet libero. In egestas dignissim magna, tincidunt tempus eros semper quis. In vel egestas sem. Proin at odio at massa commodo ullamcorper. Nunc dictum tempor sollicitudin. Maecenas posuere leo posuere mauris volutpat mollis. Proin sit amet egestas orci. Curabitur gravida bibendum mi, in interdum diam volutpat eget. Suspendisse malesuada ipsum nec elementum accumsan. Ut odio leo, ullamcorper sed ligula sit amet, cursus facilisis ante. Pellentesque interdum quis ex sed efficitur. Morbi viverra hendrerit interdum. </p>
                    <p>Mauris aliquam, mauris vitae consectetur eleifend, mi urna lobortis mauris, et tempus neque tortor vel nulla. Phasellus risus nisl, feugiat sit amet cursus a, tristique sed leo. Sed dapibus nec ipsum eu porttitor. Fusce luctus a mauris vitae consectetur. In a lorem eu velit sollicitudin placerat nec vel tortor. Nunc dignissim massa tellus, a volutpat elit aliquam quis. Mauris ultrices erat in nulla iaculis, quis laoreet ex sodales.</p>
                </div>
                <H3>Como tudo começou...</H3>
                <div class="text">
                    <p>In fermentum turpis enim, non malesuada tellus tempor euismod. Mauris quis magna vel erat porttitor feugiat non sit amet libero. In egestas dignissim magna, tincidunt tempus eros semper quis. In vel egestas sem. Proin at odio at massa commodo ullamcorper. Nunc dictum tempor sollicitudin. Maecenas posuere leo posuere mauris volutpat mollis. Proin sit amet egestas orci. Curabitur gravida bibendum mi, in interdum diam volutpat eget. Suspendisse malesuada ipsum nec elementum accumsan. Ut odio leo, ullamcorper sed ligula sit amet, cursus facilisis ante. Pellentesque interdum quis ex sed efficitur. Morbi viverra hendrerit interdum. </p>
                    <p>Mauris aliquam, mauris vitae consectetur eleifend, mi urna lobortis mauris, et tempus neque tortor vel nulla. Phasellus risus nisl, feugiat sit amet cursus a, tristique sed leo. Sed dapibus nec ipsum eu porttitor. Fusce luctus a mauris vitae consectetur. In a lorem eu velit sollicitudin placerat nec vel tortor. Nunc dignissim massa tellus, a volutpat elit aliquam quis. Mauris ultrices erat in nulla iaculis, quis laoreet ex sodales.</p>
                </div>
                <h3>Nossas receitas</h3>
                <div class="text">
                    <p>Mauris aliquam, mauris vitae consectetur eleifend, mi urna lobortis mauris, et tempus neque tortor vel nulla. Phasellus risus nisl, feugiat sit amet cursus a, tristique sed leo. Sed dapibus nec ipsum eu porttitor. Fusce luctus a mauris vitae consectetur. In a lorem eu velit sollicitudin placerat nec vel tortor. Nunc dignissim massa tellus, a volutpat elit aliquam quis. Mauris ultrices erat in nulla iaculis, quis laoreet ex sodales.</p>
                </div>
        </div>
    </div>
{%endblock%}