{%extends "Layout.njk" %}
{%block search%}
{%endblock%}
{%block content %}
        <div>
            <h3>Gerenciar Chefs</h3>
        </div>
            <section class="index-cards">

                {%for chef in chefs%}
                <div class="chefCard">
                <input type="hidden" name="id" id="{{chef.id}}">
                    <img src="{{chef.img}}" alt="foto de {{chef.name}}" id="chefImg">
                    <div class="detailsChef">
                        <h4>{{chef.name}}</h4>
                        <p class=total>{{chef.total_recipes}} receitas</p>
                    </div>
                </div> 
               {%endfor%}  
            </section>   
{%endblock%}

