{%extends "layout.njk" %}

{%block content %}
        <div class="bannerCard">
            <img src="/img/chef.png" alt="chef">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        
        <h2>Mais Acessadas</h2>

            <section >
                <div class="indexcards">
                    {%for recipe in RecipeData%}
                            <div class="indexCard">
                                <a href="/recipe/{{recipe.id}}"><img src="{{recipe.image}}" alt="foto de {{recipe.name}}" id="indexRecipeImg"></a>
                                <div class="indexDetails">
                                    <h4>{{recipe.title}}</h4>
                                    <p>por {{recipe.chef_name}}</p> 
                                </div>
                            </div>                        
                    {%endfor%}
                </div>
            </section>
            
{%endblock%}

