{%extends "layout.njk" %}

{%block head%}
    <title>Receitas - Foodfy</title>
{%endblock%}

{%block content %}
        <section class="recipes">
        {%if filter%}
            <h1 class="find">Buscando por "{{filter}}"</h1>
        {%endif%}
            
           <section >
                <div class="indexcards">
                    {%for recipe in RecipeData%}
                            <div class="indexCard">
                                <a href="/recipe/{{recipe.id}}"><img src="{{recipe.image}}" alt="foto de {{recipe.name}}" id="indexRecipeImg"></a>
                                <div class="indexDetails">
                                    <h4>{{recipe.title}}</h4>
                                           <p>por {{recipe.chef_name}}</p>   
                                </div>
                            </div>                        
                    {%endfor%}
                </div>
            </section>
            
        </section>

{%endblock%}