{%extends "layout.njk" %}

{%block head%}
    <title>Receita</title>
{%endblock%}

{%block content %}
<section class="show"> 
    <div class='top'>
        <h1 class="showTitle">Receita:{{recipe.title}}</h1>
    </div> 

    <div><img src="{{recipe.image}}" alt="imagem {{recipe.title}}" class="recipeImg"></div>

    <div class="middle">
        <h3 id="title">{{recipe.title}}</h3>
        <p class=chefName>{{recipe.chef_name}}</p>
    </div>
    

<h3 class="steps">Igredientes</h3>
    <div class="textArea">
            {%for item in recipe.ingredients%}
                <div >
                    -{{item}};
                </div>
            {%endfor%} 
        </div>

<h3 class="steps">Modo de preparo</h3>
    <div class="textArea">
        {%for item in recipe.preparation%}
            <div >
                -{{item}};
            </div>
        {%endfor%} 
    </div>
    

    <h3 class="steps">Informações Adicionais</h3>
    <div class="textArea" >
        <div id="info"> {{recipe.information }}</div>
    </div>

</section> 
{%endblock%}