<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    
    {%block head%}
        <title>Foodfy</title>
    {%endblock%}
    
    <link rel="stylesheet" href="/style.css">
</head>

<body >
     <header class="background">
            <div class="links">
                <a href="/" id="logo"><img src="/img/logo.png" alt="Logo"></a>  
                <a href="/about" id="sobre">Sobre</a>
                <a href="/recipes-list" id="recipes">Receitas</a>
                <a href="/listing.njk" id="listing"><button>Administrar</button></a>
            </div>
            
        </header>
    
    <div class="all">
       
        
        {% block content %}
        {% endblock %}   
        
    </div>
    <footer class="footer">
        <p class="copyrigth">Todos direitos reservados, receitas Foodfy</p>
    </footer>
    <script src="/script.js"></script>
</body>

</html>