<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    
    {%block head%}
        <title>Foodfy</title>
    {%endblock%}
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/stylePrivate.css">
</head>

<body >
    <header class="background">
        <div class="links">
            <a href="/" id="logo"><img src="/img/logo.png" alt="Logo"></a>
            <div>
                <a href="/about" id="sobre">Sobre</a>
                <a href="/recipeslist" >Receitas</a>
                <a href="/chefs">Chefs</a>
            </div>
            {%block search%}
                <div class="search">
                    <form action="/recipe" method="GET">
                        <input id="filterField"type="text" placeholder="Buscar uma Receita" name="filter">
                        <button type="submit" class="buscar">Buscar</button>
                    </form>
                </div>
            {%endblock%}
        </div>
    </header>
    
    <div class="all">
    
        {% block content %}
        {% endblock %}   
        
    </div>
    
    <div class="footer">
        <p class="copyrigth">Todos direitos reservados, receitas Foodfy</p>
    </div>
</body>

</html>