<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        
        {%block head%}
            <title>Foodfy</title>
        {%endblock%}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="/stylePrivate.css">
        <style>
            @import_url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
        </style>
    </head>
<body >
    <header class="backgroundCreate">
                <a href="/" id="newLogo"><img src="/img/newLogo.png" alt="Logo"></a>  
                <a href="/admin/recipes" class="recipes">RECEITAS</a>
                <a href="/admin/chefs" class="chefs">CHEFS</a>    
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock %}   
    </div>
    <script src="/script.js"></script>
</body>

</html>